html,
body {
  height: 100%;
}
.containerParent {
  background-color: #273498;
  background: linear-gradient(155deg, #273498 50%, #f8f8f8 50%);
}
.Group-25 {
  width: 40%;
  height: auto;
  object-fit: contain;
}

body {
  padding-top: 16px; 
  background-color: #f5f5f5;
}
 