/* Button with shadow */
.btn-default-sodexo {
    background-color: #273498;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: monospace;
    font-size: 14px;
    border-radius: 6px;
    border-color: #273498;
    border: 0px;
    box-shadow: #d2d1d1 0px 6px 8px 4px;
    font-family: SansaSemiBold;
}
 
.font-weight-bold, b {
    font-family: Sansa-Bold;
}

* {
    font-family: Sansa; 
} 

html {
    background: #f8f8f8;
}
@font-face {
    font-family: Sansa-Bold;
    src: url(fonts/Sansa-Bold.otf);
  }


  @font-face {
    font-family: Sansa;
    src: url(fonts/Sansa-Normal.otf);
  }

@font-face {
    font-family: SansaSemiBold;
    src: url(fonts/Sansa-SemiBold.otf);
  }

  

.btn-default-sodexo {
    background-color: #252f7a !important;
}

.box-cards-sodexo { 
    background-color: #fefefef5;
    border-radius: 10px;
    padding: 13px;
    box-shadow: 0 9px 20px -3px #88888866;
}

/* Button without shadow */
.btn-default-sodexo {
    background-color: #273498;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: monospace;
    font-size: 14px;
    border-radius: 6px;
    border-color: #273498;
    border: 0px;
    font-family: url("fonts/Sansa-Bold.otf");
}

.input-sodexo {
    background-color: #FEFEFE;
    width: 150px;
    padding: 13px;
    font-size: 20px;
    font-weight: bold;
    color: #273498;
    border-radius: 8px;
    border: 0px;
    box-shadow: 2px 10px 30px 2px #d2d1d1;
}
 
	/* flip the pane when hovered */
	.flip-container.letFlip {
		transform: rotateY(180deg);
	}
 

/* flip speed goes here */
.flip-container {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}